/* #f2f2f2
#00E6F0
#00FF00
#FFFF00
#FF6800
#FF14AB
#F2059F
#48038C
#5204BF
#100126
#0F0140  */
nav {
  -webkit-box-shadow: -13px 9px 29px -22px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: -13px 9px 29px -22px rgba(0, 0, 0, 0.79);
  box-shadow: -13px 9px 29px -22px rgba(0, 0, 0, 0.79);
}
.background-light {
  background-color: #f2f2f2;
}
.dark-color a {
  color: #48038c;
}
.navbar-brand {
  font-size: 2rem;
  transition: all 2s;
}

.navbar-brand:hover {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: fadingIn 2s;
}
.nav-link {
  transition: border-bottom 0.2s;
}
.nav-link:hover {
  border-bottom: 0.4rem solid #48038c;
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
@keyframes fadingIn {
  0% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
